.profile {
  width: 250px;
  height: 400px;
  background-color: green;
}
/* .avatar {
  width: 200px;
  height: 250px;
} */

/* const randomBetween = (min, max) => min + Math.floor(Math.random() * (max - min + 1));
const r = randomBetween(0, 255);
const g = randomBetween(0, 255);
const b = randomBetween(0, 255);
const rgb = `rgb(${r},${g},${b})`; */
